<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.polypaths.collection.sometrial" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.polypaths.collection.sometrial.UpdateStarter"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PolyPaths"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBCjg8z2EO2aIBL3P1okbUtGv7j4Pq5LCM" />
        <activity
            android:name="com.polypaths.collection.sometrial.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.polypaths.collection.sometrial.LocationUpdater"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.polypaths.collection.sometrial.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>
